@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto-Regular", sans-serif;
    transition: all 500ms ease-in-out;
}

body {
    /*    transition: padding 0s;*/
}


/* ------header */

.nav-menu {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: black;
}

#logo {
    height: 30px;
    margin: 10px;
    filter: grayscale(100%);
}


/* End header */


/* Bootstrap settings */



/* Personal settings */

.section {
    margin: 50px;
}

.goals {
    padding: 20px;
}

.goals-photo {
    margin: 20px;
}

.ng-hide {
    opacity: 0;
    transition: all 500ms;
}


/*Login Card div-background*/

#loginCard {
    position: absolute;
    margin: 0 auto;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.51);
    width: 100px;
    height: 100px;
}
.card-block {
    padding: 20px;
}

/*NG animation*/

.card-div {
    height: 280px;
    background-position: center !important;
    background-size: cover !important;
}

.example-animate-container {
    background: white;
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.animate-repeat {
    line-height: 30px;
    list-style: none;
    box-sizing: border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(5px);
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
}

@media (min-width: 576px) and (max-width: 767px) { 
    .card-columns{
            column-count: 2;
        }
}

/*Remodal*/

.my-modal{
    max-width: 350px !important;
}

#sing-up-alert{
    min-width: 100%;
    margin: 0;
}
.my-btn{
 margin: 0 5px;   
}

.heartIcon{
    height: 30px;
    width: 30px;
    padding: 5px;
}
