<div class="remodal card" data-remodal-id="login" id="LogIn" ng-cloak 
  data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close "></button>
    

        <div class="container justify-content-center">
            <div class="alert alert-success m-auto col-6 text-center" ng-show="singUpAlert">
                {{singUpAlertMessage}}
            </div>
        </div>

        <form name="singUp" novalidate ng-show="singUpForm">
<!--            Nick input-->
                <div class="form-group">

                <label for="example-text-input" class="col-form-label">Nick name</label>


                <input class="form-control" type="text" name="NickName" ng-model="NickName" placeholder="John" required>


                <span ng-show="singUp.NickName.$touched && singUp.NickName.$invalid">
                        
            <span class="badge alert-danger w-100" ng-show="singUp.NickName.$error.required" >Nick name are required</span>
                </span>


            </div>
<!--Email input-->
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ng-model="email" name="email" required>

                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

                <span ng-show="singUp.email.$touched && singUp.email.$invalid">
                        
            <span class="badge alert-danger w-100" ng-show="singUp.email.$error.required">Invalid email</span>
                </span>
            </div>
<!--            Password-->
<div class="form-group">
                <label for="pass">Password</label>

                <input type="password" class="form-control" placeholder="Enter password" ng-model="pass" name="pass" required>

                <span ng-show="singUp.pass.$touched && singUp.pass.$invalid">
                        
            <span class="badge alert-danger w-100" ng-show="singUp.pass.$error.required">Invalid email</span>
                </span>
            </div>
<!--Butons-->
           
            <div class="row">
                <div class="col-6">
            <button data-remodal-action="cancel" class="btn btn-outline-danger w-100">Cancel</button>
                    
                </div>
                <div class="col-6">
            <button type="button" class="btn btn-outline-primary w-100" ng-disabled="singUp.$invalid" ng-click="singUpUser()" ng-model="singUpForm">Send</button>
                </div>
            </div>
        </form>
    </div>

