<div ng-show="postpage" class="container">
    
        <div class="row justify-content-center ">
            <div class="col-8">

                <h1 class="text-center display-3">{{postTitle}}</h1>
                <img src="{{postPhoto}}" class="w-100" alt="">
                <p>
                    {{postFullText}}
                </p>

            </div>
        </div>
        <div class="row text-center justify-content-center ">
            <button type="" class="btn btn-dark " ng-click="pageSwitch('Blog')">Back to other Posts</button>
        </div>
    
</div>
