<div class="container" ng-show="profile">
    <div class="row ">
        <div class="col-4">
            <img src="http://via.placeholder.com/350x350" class="w-100" alt="">
        </div>
        <div class="col-8 text-center">
            <hr>
            <h4>Login :
            </h4>
                <p> {{CurentUser}}</p>
            <h4>
                Password:
            </h4>
                <p> {{CurentUserPass}}</p>

            <hr>
            <h4>
                Name and Surname:
            </h4>
                <p> {{UserNameSname}}</p>

            <h4>
                Contacts:
            </h4>
                <p> {{UserContacts}}</p>

            <h4>
                Info:
            </h4>
                <p> {{UserInfo}}</p>
        </div>
    </div>
</div>
